*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 30px;
    border: 1px solid #9e9e9e;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
nav ul li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: black;
}
.nav-link {
    display: inline-block;
    height: 26px;  
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.link-inner{
    display: block;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.link{
    display: flex;
    height: 26px;
    line-height: 26px;
}
.link.hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 500;
}

.nav-link:hover .link-inner {
  transform: translateY(-26px);
}